:root {
    --sidebar-width: 300px;
    font-family: var(--sl-font-sans);
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(var(--sidebar-width) - (2 * var(--sl-spacing-medium)));
    padding: var(--sl-spacing-medium);
    border-right: 1px solid;
    border-color: var(--sl-color-gray-200);
}

main {
    margin-left: var(--sidebar-width);
    padding: var(--sl-spacing-medium);
    max-width: 80rem;
}

sl-card {
    display: block;
    overflow: auto;
    margin: var(--sl-spacing-large) 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 30rem;
}

tr {
    border-bottom: 1px solid;
    border-color: var(--sl-color-gray-200);
}

td, th {
    padding: var(--sl-spacing-medium);
    text-align: left;
}

th {
    font-weight: var(--sl-font-weight-semibold);
}